main#content{
  padding:20px;
  margin:10px;
  background-color: Seashell;
  border: ridge 10px white;
}

.main-title{
  font-family: 'Ubuntu Condensed',sans-serif;
  font-size: 40px;
  text-align:center;
  color:Maroon;
}

.title{
  font-family: 'Gruppo',sans-serif;
  font-size: 40px;
  text-align:center;
  color:FireBrick;
}
/* image go here */
.center {                   /*Centering image credit to W3Schools */
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 5px ridge LightCoral;
}

p{
  margin: 10px;
  font-family: 'Lora', serif;
  font-size: 20px;
}

body {
  background-color:LightCoral;
  padding:40px;
}

.assignments-major-section {
  font-family: 'Gruppo',serif;
  font-size:20px;
  list-style-type:none;
  margin:5px;

}
a, a:link {
  color:black;
  padding: 5px 5px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  /* background-color: white; */
}

a:hover, a:active {
  background-color: LightPink;
}

ul{
  list-style-type: none;
  color:Maroon;
}

.labs{
  color:FireBrick;
  font-family: 'Ubuntu Condensed',sans-serif;
  font-size: 40px;
  text-decoration: underline;
}

h2{
  display:block;
}

/* #column {
  column-count: 2;
  column-gap: 20px;
} */

footer{
  text-align:center;
  color: DarkRed;
}
