h1{
  text-align:center;
  color: dimGrey;
  font-family: 'Shippori Mincho', serif;
  font-size: 55px;
}

p{
  font-family: 'Newsreader', serif;
  margin-left: 10px;
  font-size: 18px;
  text-align:left;
}

/* .carimg img {
  float: right;
  width: 400px;
  height: auto;
  padding: 5px;
} */

.input-output {
  min-height: 40px;
  border: solid 1px black;
  padding: 10px;
}

div#content {
  padding:30px;
  margin: 15px;
  background-color: MintCream;
  border: solid 15px DarkGoldenRod;
}

h2{
  text-align:left;
  font-family: 'Garamond', serif;
  font-size: 20px;
  color:DarkGoldenRod;
}

body {
  background-image: linear-gradient(Brown, Maroon);
  /* background-color:SeaGreen; */
  padding:40px;
  /* font-size: 30px; */
}

/* javascript output */
.output{
  margin:5px;
  padding: 10px;
  border: solid 1px black;
}

div{
  display: block;
}

/* links */
.homelink{
  text-align: left;
}

.sourcelink{
  float: right;
}

.nav{
  padding: 10px;
  font-size: 80%;
}
